<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="panel panel-primary">
    <div class="panel-heading">
        <nose:community.label tag="{mashup.communityTag}" />
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    <strong><f:translate key="MashupAdmin_lblValidationDate" /></strong>
                </div>
                <div class="col-sm-8">{f:format.date(format:'Y-m-d H:i', date:'{mashup.validationDate}')}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    <strong><f:translate key="MashupAdmin_lblValidationKey" /></strong>
                </div>
                <div class="col-sm-8">{mashup.validationKey}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    <strong><f:translate key="MashupAdmin_lblAppKey" /></strong>
                </div>
                <div class="col-sm-8">
                    {mashup.appKey}
                    <f:if condition="{mashup.appKey} != '' && {edit} == '1'">
                    <br />
                        <f:link.action action="regenerateAppKey" arguments="{mashup : mashup}" class="btn btn-xs btn-danger">
                            <core:icon identifier="fa-refresh" />
                            <span> <f:translate key="MashupAdmin_btnRegenerateAppKey" /></span>
                        </f:link.action>
                    </f:if>
                </div>
            </div>
        </li>
        <!-- 
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    <strong><f:translate key="MashupAdmin_lblMashupTokenCallbackUrl" /></strong>
                </div>
                <div class="col-sm-8">
                    <f:if condition="{edit} == '1'">
                        <f:then>
                            <f:form action="updateCallbackUrl" name="mashup" object="{mashup}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <f:form.textfield id="mashupTokenCallbackUrl" property="mashupTokenCallbackUrl" class="form-control" placeholder="{f:translate(key: 'MashupAdmin_lblMashupTokenCallbackUrlPlaceholder')}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" id="changeCallbackUrlButton">
                                                <core:icon identifier="fa-check" />
                                                <span class="hidden-xs"><f:translate key="Common_btnUpdate" /></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block"><nose:string.replace value="{f:translate(key: 'MashupAdmin_lblMashupTokenCallbackUrlFail')}" search="%max_characters%" replace="{mashupTokenCallbackUrlMaxChars}" /></span>
                                </div>
                            </f:form>
                        </f:then>
                        <f:else>
                            <f:if condition="{mashup.mashupTokenCallbackUrl} != ''">
                                <f:then>{mashup.mashupTokenCallbackUrl}</f:then>
                                <f:else>none</f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </li>
        -->
    </ul>
</div>


</html>