<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="title"><f:translate key="MashupAdmin_lblAddTitle" /></f:section>


<f:section name="buttons">
    <f:link.action action="list" class="btn btn-default">
        <core:icon identifier="fa-chevron-left" /> <f:translate key="Common_btnBackToList" />
    </f:link.action>
    <f:link.action action="new" class="btn btn-default">
        <core:icon identifier="fa-refresh" /> <f:translate key="Common_btnRefresh" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
</f:section>


<f:section name="content">
    <div class="row">
        <div class="col-md-6">
            <f:if condition="{unvalidatedMashups}">
                <f:then>
                    <div class="panel panel-danger">
                        <div class="panel-heading"><f:translate key="MashupAdmin_lblUnvalidatedMashup" /></div>
                        <div class="list-group">
                            <f:for each="{unvalidatedMashups}" as="unvalidatedMashup">
                                <f:link.action action="delete" arguments="{mashup : unvalidatedMashup, redirect : 'new'}" class="list-group-item"><core:icon identifier="fa-trash" /> <nose:community.label tag="{unvalidatedMashup.communityTag}" /></f:link.action>
                            </f:for>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <f:render partial="FormErrors" arguments="{object : Mashup}" />

                    <f:form action="create" name="newMashup" object="{newMashup}">

                        <f:form.textfield property="communityTag" id="communityTag" type="hidden" />

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="keyword-label" id="description"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <f:for each="{visibilities}" as="description" key="visibility">
                                            <li><a href="javascript:changeVisibility('{visibility}', '{description}');"><span class="keyword-label"><nose:community.label tag="{visibility}{description}" /></span></a></li>
                                        </f:for>
                                    </ul>
                                </div>
                                <input type="text" id="communityTagField" class="form-control" placeholder="{f:translate(key: 'MashupAdmin_lblRegisterCommunityPlaceholder')}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" disabled="disabled" id="addButton">
                                        <core:icon identifier="fa-plus" />
                                        <span class="hidden-xs"> <f:translate key="Common_btnAdd" /></span>
                                    </button>
                                </span>
                            </div>
                            <span class="help-block"><nose:string.replace value="{f:translate(key: 'MashupAdmin_lblAddFail')}" search="%max_characters%" replace="{addMaxChars}" /></span>
                        </div>

                    </f:form>
                </f:else>
            </f:if>
        </div>
    </div>

<script>
var addMaxChars = {addMaxChars};

var visibility = '';
function changeVisibility(newVisibility, description) {{
    visibility = newVisibility;
    $('#description').text(description);
    $('#communityTag').val(visibility + $('#communityTagField').val());
}}
$(document).ready(function() {{
    <f:for each="{visibilities}" as="description" key="visibility" iteration="i"><f:if condition="{i.cycle} == 1">changeVisibility('{visibility}', '{description}');</f:if></f:for>
}});

$('#communityTagField').on('input', function() {
    var newValue = $(this).val();
    var isValid = IsValidDomain(newValue, addMaxChars);
    $('#addButton').attr('disabled', ! isValid);
    $('#communityTag').val(visibility + newValue);
    if (isValid || newValue === '') {
        $(this).closest('.form-group').removeClass('has-error');
    } else {
        $(this).closest('.form-group').addClass('has-error');
    }
});

$('form').on('submit', function() {
    $return = true;
    $.each($(this).find('button'), function() {
        if ($(this).attr('disabled')) {
            $return = false;
        }
    });
    return $return;
});

</script>

</f:section>

</html>