<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="title"><f:translate key="MashupAdmin_lblMashupTokenListTitle" /></f:section>


<f:section name="buttons">
    <f:link.action action="list" class="btn btn-default">
        <core:icon identifier="fa-chevron-left" /> <f:translate key="Common_btnBackToList" />
    </f:link.action>
    <f:link.action action="tokenrefresh" arguments="{mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-cloud" /> <f:translate key="Common_btnSync" />
    </f:link.action>
    <f:link.action action="tokenlist" arguments="{mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-refresh" /> <f:translate key="Common_btnRefresh" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
</f:section>


<f:section name="content">
    <table class="table table-hover" >
        <tr>
            <th class="col-md-1 col-sm-1 col-xs-2">
                <f:link.action action="tokennew" arguments="{mashup : mashup}" class="btn btn-primary btn-xs">
                    <core:icon identifier="fa-plus" /> <f:translate key="Common_btnAdd" />
                </f:link.action>
            </th>
            <th class="col-md-6 col-sm-5 col-xs-6">
                <span><f:translate key="MashupAdmin_lblMashupTokenValueLabel" /></span>
                <span class="hidden-lg hidden-md"> / <f:translate key="MashupAdmin_lblMashupTokenDateLabel" /></span>
            </th>
            <th class="col-md-3 col-sm-4 visible-lg visible-md"><f:translate key="MashupAdmin_lblMashupTokenDateLabel" /></th>
            <th class="col-md-2 col-sm-2 col-xs-2"><f:translate key="MashupAdmin_lblMashupTokenScans" /></th>
        </tr>
        <f:for each="{mashup.tokens}" as="token" reverse="true">
            <tr>
                <td>
                    <div class="btn-group btn-group-xs">
                        <f:link.action action="tokenedit" arguments="{token : token, mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="fa-wrench" /></f:link.action>
                        <f:link.action action="tokenshow" arguments="{token : token, mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="fa-folder-open" /></f:link.action>
                        <f:if condition="{token.tokenScans -> f:count()} < 1">
                            <f:link.action action="tokendelete" arguments="{token : token, mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="fa-trash" /></f:link.action>
                        </f:if>
                    </div>
                </td>
                <td>
                    <span>{token.payload -> f:format.crop(maxCharacters:40)}</span><br/>
                    <span class="hidden-lg hidden-md"><nose:ticks.datetime ticks="{token.validToTicks}" /></span>
                </td>
                <td class="visible-lg visible-md"><nose:ticks.datetime ticks="{token.validToTicks}" /></td>
                <td>
                    <span class="badge">
                        <core:icon identifier="fa-tag" />
                        <span><f:count subject="{token.tokenScans}" /></span>
                    </span>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>


</html>