<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="title"><f:translate key="MashupAdmin_lblMashupTokenTitle" /></f:section>


<f:section name="buttons">
    <f:link.action action="tokenlist" arguments="{mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-chevron-left" /> <f:translate key="Common_btnBackToList" />
    </f:link.action>
    <f:link.action action="tokenedit" arguments="{token : token, mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-edit" /> <f:translate key="Common_btnEdit" />
    </f:link.action>
    <f:link.action action="tokenshow" arguments="{token : token, mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-refresh" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
</f:section>


<f:section name="content">

<div class="panel panel-primary">
    <div class="panel-heading">
        <nose:community.label tag="{mashup.communityTag}" />
    </div>
    <table class="table">
        <tr>
            <td class="col-xs-4"><f:translate key="MashupAdmin_lblMashupTokenPayloadLabel" /></td>
            <td class="col-xs-8">{token.payload}</td>
        </tr>
        <f:if condition="{token.label} != ''">
            <tr>
                <td><f:translate key="MashupAdmin_lblMashupTokenLabelLabel" /></td>
                <td><pre style="white-space:pre-wrap; word-wrap:break-word">{token.label}</pre></td>
            </tr>
        </f:if>
        <f:if condition="{token.valuePerUnit} > 0">
            <tr>
                <td><f:translate key="MashupAdmin_lblMashupTokenValuePerUnitLabel" /></td>
                <td>{token.valuePerUnit}</td>
            </tr>
        </f:if>
        <f:if condition="{token.validUntilTicks} > 0">
            <tr>
                <td><f:translate key="MashupAdmin_lblMashupTokenValidUntilDateLabel" /></td>
                <td><nose:ticks.datetime ticks="{token.validUntilTicks}" /> (UTC)</td>
            </tr>
        </f:if>
        <f:if condition="{token.options} > 0">
            <tr>
                <td><f:translate key="MashupAdmin_lblMashupTokenOptions" /></td>
                <td>
                    <f:if condition="{token.batchScanning}">
                        <div>
                            <f:translate key="MashupAdmin_lblMashupTokenOptionsBatchScanning" />
                        </div>
                    </f:if>
                    <f:if condition="{token.canSelectAmount}">
                        <div>
                            <f:translate key="MashupAdmin_lblMashupTokenOptionsCanSelectAmount" />
                        </div>
                    </f:if>
                    <f:if condition="{token.canComment}">
                        <div>
                            <f:translate key="MashupAdmin_lblMashupTokenOptionsCanComment" />
                        </div>
                    </f:if>
                    <f:if condition="{token.askGpsSharing}">
                        <div>
                            <f:translate key="MashupAdmin_lblMashupTokenOptionsAskGpsSharing" />
                        </div>
                    </f:if>
                </td>
            </tr>
        </f:if>
        <f:if condition="{token.callbackResponse} != ''">
            <tr>
                <td><f:translate key="MashupAdmin_lblMashupTokenCallbackResponseLabel" /></td>
                <td>{token.callbackResponse}</td>
            </tr>
        </f:if>
        <tr>
            <td><f:translate key="MashupAdmin_lblMashupTokenImageLabel" /></td>
            <td>
                <f:if condition="{qr_code_image}">
                    <f:then>
                        <img class="qrcode" src="data:image/png;base64,{qr_code_image}" />
                        <textarea rows="5" class="form-control">{qr_code_text}</textarea>
                    </f:then>
                    <f:else>
                        <p>No image created</p>
                    </f:else>
                </f:if>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Scans
    </div>
    <table class="table">
        <tr>
            <th class="col-xs-4"><f:translate key="MashupAdmin_lblMashupTokenScanUserLabel" /></th>
            <th class="col-xs-4"><f:translate key="MashupAdmin_lblMashupTokenScanDateLabel" /></th>
            <th class="col-xs-4"><f:translate key="MashupAdmin_lblMashupTokenScanLocationLabel" /></th>
            <th class="col-xs-4"><f:translate key="MashupAdmin_lblMashupTokenResponseCodeLabel" /></th>
        </tr>
        <f:for each="{token.tokenScans}" as="scan" reverse="true">
            <tr>
                <td>{scan.scannedByLoginName}</td>
                <td><nose:ticks.datetime ticks="{scan.scannedTicks}" /></td>
                <td><a href="https://www.google.com/maps/search/?api=1&query={scan.scannedLatitude},{scan.scannedLongitude}" target="_new">{scan.scannedLatitude},{scan.scannedLongitude}</a></td>
                <td>
                    <f:if condition="{scan.callbackResponseHttpCode} > 0">
                        <a href="#" class="badge {f:if(condition: '{scan.callbackResponseHttpCode} == 200', then: 'badge-success', else: 'badge-danger')}"  data-toggle="popover" data-placement="left" title="{scan.callbackResponseHttpCode}" data-content="{scan.callbackResponseMessage}">
                            <span>{scan.callbackResponseHttpCode}</span>
                        </a>
                    </f:if>
                </td>
            </tr>
        </f:for>
    </table>
</div>

</f:section>

</html>
