<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="title"><f:translate key="MashupAdmin_lblMashupTokenEditTitle" /></f:section>


<f:section name="buttons">
    <f:link.action action="tokenlist" arguments="{mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-chevron-left" /> <f:translate key="Common_btnBackToList" />
    </f:link.action>
    <f:link.action action="tokenedit" arguments="{token : token, mashup : mashup}" class="btn btn-default">
        <core:icon identifier="fa-refresh" /> <f:translate key="Common_btnRefresh" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
</f:section>


<f:section name="content">
    <div class="row">
        <div class="col-md-8">
            <f:render partial="FormErrors" arguments="{object : Token}" />

            <f:form action="tokenupdate" name="token" object="{token}">

                <div class="panel panel-primary">
                    <div class="panel-heading"><nose:community.label tag="{mashup.communityTag}" /></div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-lg-3 control-label"><f:translate key="MashupAdmin_lblMashupTokenValueLabel" /></label>
                            <div class="col-lg-9">
                                <pre>{token.payload}</pre>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label"><f:translate key="MashupAdmin_lblMashupTokenDateLabel" /></label>
                            <div class="col-lg-9">
                                <pre><nose:ticks.datetime ticks="{token.validToTicks}" /></pre>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label"><f:translate key="MashupAdmin_lblMashupTokenCallbackResponseLabel" /></label>
                            <div class="col-lg-9">
                                <f:form.textfield property="callbackResponse" class="form-control" placeholder="{f:translate(key: 'MashupAdmin_lblMashupTokenCallbackResponsePlaceholder')}" maxlength="{callbackResponseMaxChars}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-lg-offset-3">
                                <button class="btn btn-primary" type="submit" id="addButton">
                                    <core:icon identifier="fa-check" />
                                    <span><f:translate key="Common_btnUpdate" /></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
    </div>

<f:be.pageRenderer
    includeCssFiles="{ 0: '{f:uri.resource(path: \'Libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css\')}' }"
    includeRequireJsModules="{ 0:'TYPO3/CMS/Gpsnose/MashupTokenedit' }" />

</f:section>

</html>