<!--
Required:
gn_data.Community.TagName (String with the used community-tag)
gn_data.Community.CreatorLoginName (String wuth the name of the creator)
gn_data.Community.Acls (Integer wuth the acl of the requested communiy)
gn_data.Community.Admins (Array with admins)

gn_data.User.LoginName (String with the users login-name)
gn_data.User.IsActivated (Boolean is set if user is activated)
gn_data.User.Communities (Array with the communities the user is in)

gn_data.Settings.BaseUrl (URL to SDK-Server)
gn_data.Settings.BaseDataUrl (URL to SDK-Images)
gn_data.Settings.ImagePath (Path to the images)
gn_data.Settings.NearbyImpressionsPageSize (Integer with the count per page for Nearby-Impressions)
gn_data.Settings.NearbyImpressionsPageUrl (URL for AJAX call for Nearby-Impressions-Page)
gn_data.Settings.LoginUrl (URL to the Login-Page)
gn_data.Settings.LoginId (String with the LoginId of the currently logged in user)

Optional:
gn_data.Impressions (Array with Impressions)

Replace {record} with a unique id that identifies the entry
-->

<!-- MAIN_BEG -->
<div class="ma-gpsnose" data-gn-version="1.0.4">

    <div id="ma-gpsnose-{record}" class="ma-gpsnose-nearby-impressions" data-bind="visible:true" style="display:none;">

        <a class="btn btn-default btn-xs" data-external data-bind="text: Entity.TagName, attr: { href: Entity.detailUrl() }"></a>

        <div data-bind="if: ! gn_data.User.LoginName">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span>
                <span data-bind="text: ' ' + GetLangRes('Common_loginRequired', 'Please login first.')"></span>
                <button type="button" class="btn btn-info btn-xs pull-right" data-bind="click: function() { document.location.href = $data.getLoginUrl(gn_data.Settings.LoginUrl); }">
                    <span class="glyphicon glyphicon-user"></span>
                    <span data-bind="text: ' ' + GetLangRes('Common_btnLogin', 'Login')"></span>
                </button>
            </div>
        </div>
        <div data-bind="if: gn_data.User.LoginName">
            <div class="grid">
                <div class="gn-items impressions" id="impressionsContainer" data-bind="if: pageableImpressions.items().length > 0">
                    <div class="grid-sizer col-lg-3 col-md-4 col-sm-6 col-xs-12"></div>
                    <div data-bind="foreach: pageableImpressions.items()">
                        <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12" data-bind="css: { grouped: isGrouped(), 'group-top': groupCount() > 1, 'last-incomplete-group': isLastIncompleteGroup() }">
                            <div data-type="ajax" data-bind="attr: { 'data-fancybox': (isLastIncompleteGroup() && ! $parent.photoBlogsRequestActive() ? null : 'photoblogs' + groupName()), 'data-src': previewUrl() }">
                                <div class="outer">
                                    <div class="img-container">
                                        <img class="img" data-bind="attr: { src: imageUrl() + '@@400' }" onerror="this.style.display='none'" />
                                        <div class="group-count" data-bind="text: GetLangRes('Nose_Profile_lblOneOfX', '1 of %count%').replace('%count%', groupCount()), visible: groupCount() > 1"></div>
                                    </div>
                                    <div class="media">
                                        <div class="media-body" data-bind="text: $data.Text"></div>
                                        <div class="media-right">
                                            <div class="media-object" data-bind="text: $data.Mood"></div>
                                        </div>
                                    </div>
                                    <div class="text-center" data-bind="text: dateString()"></div>
                                </div>
                            </div>
                            <div class="load-more">
                                <div class="load-more-child">
                                    <div class="btn btn-primary" data-bind="visible: ! $parent.photoBlogsRequestActive(), click: function(){ $parent.loadNextGroup(); }">
                                        <span class="glyphicon glyphicon-cloud-download"></span>
                                        <span data-bind="text: GetLangRes('Common_lblLoadMore', 'more..')"></span>
                                    </div>
                                    <div class="btn btn-default" data-bind="visible: $parent.photoBlogsRequestActive()">
                                        <span class="glyphicon glyphicon-repeat gly-spin"></span>
                                        <span data-bind="text: ' ' + GetLangRes('Common_lblRequestInProgress', 'Request in progress')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" data-bind="visible: pageableImpressions.items().length == 0 && ! pageableImpressions.itemsRequestActive()">
                <span class="glyphicon glyphicon-info-sign"></span>
                <span data-bind="text: ' ' + GetLangRes('Nearby_lblNoImpressions', 'Currently there are no Impressions around')"></span>
            </div>

            <div class="text-center">

                <div class="btn btn-default btn-lg" data-bind="click: function(){ pageableImpressions.pageItems() }, visible: pageableImpressions.hasMoreItems(), attr: { disabled: pageableImpressions.itemsRequestActive() }">
                    <div data-bind="visible: ! pageableImpressions.itemsRequestActive()">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        <span data-bind="text: ' ' + GetLangRes('Common_lblLoadMore', 'more..')"></span>
                    </div>
                    <div data-bind="visible: pageableImpressions.itemsRequestActive()">
                        <span class="glyphicon glyphicon-repeat gly-spin"></span>
                        <span data-bind="text: ' ' + GetLangRes('Common_lblRequestInProgress', 'Loading')"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script>
var MA_GPSNOSE_IS_MASHUP = true;
$(document).ready(function() {
    if (! gn_data.User) gn_data.User = {};
    var vm = new NearbyViewModel(gn_data.Community, gn_data.User);
    vm.pageableImpressions.itemPageUrl = gn_data.Settings.NearbyImpressionsPageUrl;
    vm.pageableImpressions.onAddItems = function() {
        $('#ma-gpsnose-{record} .grid').imagesLoaded(function() {
            MasonryReload();
        });
    }

    ko.applyBindings(vm, $('#ma-gpsnose-{record}').get(0));

    if (gn_data.Impressions) {
        vm.pageableImpressions.addItems(gn_data.Impressions);
    } else if (gn_data.User.LoginName) {
        vm.pageableImpressions.pageItems();
    }
});
</script>
<!-- MAIN_END -->