<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module" />


<f:section name="title">Edit Mashup community</f:section>


<f:section name="buttons">
    <f:link.action action="list" class="btn btn-default">
        <core:icon identifier="chevron-left-svg" /><span class="ms-1"><f:translate key="Common_btnBackToList" /></span>
    </f:link.action>
    <f:link.action action="edit" arguments="{mashup : mashup}" class="btn btn-default">
        <core:icon identifier="sync-svg" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
    <f:render partial="FormErrors" arguments="{object:Mashup}" />
</f:section>


<f:section name="content">

    <f:render partial="Mashup/Properties" arguments="{mashup : mashup, callbackUrl : callbackUrl, mashupTokenCallbackUrlMaxChars : mashupTokenCallbackUrlMaxChars, mashupCallbackUrl : mashupCallbackUrl, edit : 1}" />

    <div class="row">

        <!-- SubCommunities -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span><f:translate key="MashupAdmin_lblSubCommunities" /></span>
                    <span class="pull-right">{mashup.subCommunities -> f:count()} / {mashup.maxSubSites}</span>
                </div>
                <f:if condition="{mashup.subCommunities -> f:count()} >= {mashup.maxSubSites}">
                    <f:then>
                        <div class="alert alert-info">
                            <core:icon identifier="info-circle-svg" />
                            <span class="ms-1"><f:translate key="Common_lblMaxCountReached" /></span>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="panel-body">
                            <f:form action="addSubCommunity" name="mashup" object="{mashup}">
                                <f:form.textfield property="visibility" id="visibility" type="hidden" />
                                <p>
                                    <f:translate key="MashupAdmin_lblSubCommunitiesHint" />
                                </p>
                                <div class="form-group">
                                    <div class="input-group">

                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="keyword-label" id="description"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <f:for each="{visibilities}" as="description" key="visibility">
                                                    <li>
                                                        <a href="javascript:changeVisibility('{visibility}', '{description}');" class="dropdown-item"><span class="keyword-label"><nose:community.label tag="{visibility}{description}" /></span></a>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </div>

                                        <span class="input-group-addon hidden-xs"><span class="keyword-label"><nose:community.label tag="{mashup.communityTag}" icon-type="none" /></span>@</span>
                                        <f:form.textfield property="tempSubCommunity" id="subCommunityField" class="form-control" placeholder="{f:translate(key: 'MashupAdmin_lblAddSubCommunityPlaceholder')}" />
                                        <span class="input-group-btn">
                                            <button type="submit" id="addSubCommunityButton" class="btn btn-primary" disabled="disabled">
                                                <core:icon identifier="plus-svg" />
                                                <span class="hidden-xs ms-1">
                                                    <f:translate key="Common_btnAdd" />
                                                </span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block"><nose:string.replace value="{f:translate(key: 'MashupAdmin_lblSubCommunitiesFail')}" search="%max_characters%" replace="{addSubCommunityMaxChars}" /></span>
                                </div>
                            </f:form>
                        </div>
                    </f:else>
                </f:if>
                <ul class="list-group list-group-flush">
                    <f:for each="{mashup.subCommunities}" as="subCommunity">
                        <li class="list-group-item">
                            <f:link.action action="removeSubCommunity" arguments="{mashup : mashup, subCommunity : subCommunity}" class="btn btn-danger btn-xs">
                                <core:icon identifier="trash-svg" />
                                <span class="ms-1"><f:translate key="Common_btnRemove" /></span>
                            </f:link.action>
                            <span><nose:community.label tag="{subCommunity.name}" /></span>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>

        <!-- Hosts -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span><f:translate key="MashupAdmin_lblAllowedHosts" /></span>
                    <span class="pull-right">{mashup.hosts -> f:count()} / {mashup.maxHosts}</span>
                </div>
                <f:if condition="{mashup.hosts -> f:count()} >= {mashup.maxHosts}">
                    <f:then>
                        <div class="alert alert-info">
                            <core:icon identifier="info-circle-svg" />
                            <span class="ms-1"><f:translate key="Common_lblMaxCountReached" /></span>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="panel-body">
                            <f:form action="addHost" name="mashup" object="{mashup}">
                                <p>
                                    <f:translate key="MashupAdmin_lblHostsHint" />
                                </p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <f:form.textfield property="tempHost" id="hostField" class="form-control" placeholder="{f:translate(key: 'MashupAdmin_lblAddHostPlaceholder')}" />
                                        <span class="input-group-btn">
                                            <button type="submit" id="addHostButton" class="btn btn-primary" disabled="disabled">
                                                <core:icon identifier="plus-svg" />
                                                <span class="hidden-xs ms-1">
                                                    <f:translate key="Common_btnAdd" />
                                                </span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block"><nose:string.replace value="{f:translate(key: 'MashupAdmin_lblSubHostsFail')}" search="%max_characters%" replace="{addHostMaxChars}" /></span>
                                </div>
                            </f:form>
                        </div>
                    </f:else>
                </f:if>
                <ul class="list-group list-group-flush">
                    <f:for each="{mashup.hosts}" as="host">
                        <li class="list-group-item">
                            <f:link.action action="removeHost" arguments="{mashup : mashup, host : host}" class="btn btn-danger btn-xs">
                                <core:icon identifier="trash-svg" />
                                <span class="ms-1"><f:translate key="Common_btnRemove" /></span>
                            </f:link.action>
                            <span>{host.domain}</span>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>

    </div>


<script>
var GpsnoseMashupAddSubCommunityMaxChars = parseInt('{addSubCommunityMaxChars}');
var GpsnoseMashupAddHostMaxChars = parseInt('{addHostMaxChars}');
var GpsnoseMashupMashupTokenCallbackUrlMaxChars = parseInt('{mashupTokenCallbackUrlMaxChars}');
var GpsnoseMashupCommunity = '{mashup.communityTagSufix}';
var GpsnoseMashupReadyBlock = function () {
    <f:for each="{visibilities}" as="description" key="visibility" iteration="i"><f:if condition="{i.cycle} == 1">changeVisibility('{visibility}', '{description}');</f:if></f:for>
}

function changeVisibility(newVisibility, description) {
    document.getElementById('description').innerHTML = description;
    document.getElementById('visibility').value = newVisibility;
}
</script>
<f:be.pageRenderer includeRequireJsModules="{ 0:'TYPO3/CMS/Gpsnose/MashupEdit' }" />

</f:section>

</html>