<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module" />


<f:section name="title"><f:translate key="MashupAdmin_lblTitle" /></f:section>


<f:section name="buttons">
    <f:link.action action="logout" class="btn btn-danger">
        <core:icon identifier="sign-out-svg" /><span class="ms-1"><f:translate key="Common_btnLogout" /></span>
    </f:link.action>
    <f:link.action action="refresh" class="btn btn-default">
        <core:icon identifier="cloud-svg" /><span class="ms-1"><f:translate key="Common_btnSync" /></span>
    </f:link.action>
    <f:link.action action="list" class="btn btn-default">
        <core:icon identifier="sync-svg" />
    </f:link.action>
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <f:render partial="KeepAlive" />
</f:section>


<f:section name="content">
    <table class="table table-hover" >
        <tr>
            <th class="col-md-2 col-sm-1 col-xs-3">
                <f:link.action action="new" class="btn btn-primary btn-xs">
                    <core:icon identifier="plus-svg" /><span class="ms-1"><f:translate key="Common_btnAdd" /></span>
                </f:link.action>
            </th>
            <th class="col-md-4 col-sm-5 col-xs-7">
                <span><f:translate key="MashupAdmin_lblListTitleName" /></span>
                <span class="hidden-lg hidden-md"> / <f:translate key="MashupAdmin_lblListTitleDate" /></span>
            </th>
            <th class="col-md-4 col-sm-4 visible-lg visible-md"><f:translate key="MashupAdmin_lblListTitleDate" /></th>
            <th class="col-md-2 col-sm-2 col-xs-2"><f:translate key="MashupAdmin_lblListTitleChilds" /></th>
        </tr>
        <f:for each="{mashups}" as="mashup">
            <tr>
                <td>
                    <div class="btn-group btn-group-xs">
                        <f:link.action action="edit" arguments="{mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="wrench-svg" /></f:link.action>
                        <f:link.action action="show" arguments="{mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="folder-svg" /></f:link.action>
                        <f:link.action action="tokenlist" arguments="{mashup : mashup}" class="btn btn-icon btn-default"><core:icon identifier="qrcode-svg" /></f:link.action>
                        <f:if condition="{mashup.appKey} == ''">
                            <f:link.action action="validate" arguments="{mashup : mashup}" class="btn btn-icon btn-warning" title="{f:translate(key: 'MashupAdmin_btnValidateCommunity')}"><core:icon identifier="play-svg" /></f:link.action>
                            <f:link.action action="delete" arguments="{mashup : mashup}" class="btn btn-icon btn-danger"><core:icon identifier="trash-svg" /></f:link.action>
                        </f:if>
                    </div>
                </td>
                <td>
                    <nose:community.label tag="{mashup.communityTag}" /><br/>
                    <span class="hidden-lg hidden-md">{f:format.date(format:'Y-m-d H:i', date:'{mashup.validationDate}')}</span>
                </td>
                <td class="visible-lg visible-md">{f:format.date(format:'Y-m-d H:i', date:'{mashup.validationDate}')}</td>
                <td>
                    <span class="badge" title="{nose:string.replace(value: '{f:translate(key:\'MashupAdmin_lblListTitleSubCommunitiesCount\')}', search:'%count%', replace:'{mashup.subCommunities -> f:count()}')}">
                        <core:icon identifier="link-svg" />
                        <span class="ms-1"><f:count subject="{mashup.subCommunities}" /></span>
                    </span>
                    <span class="badge" title="{nose:string.replace(value: '{f:translate(key:\'MashupAdmin_lblListTitleHostsCount\')}', search:'%count%', replace:'{mashup.hosts -> f:count()}')}">
                        <core:icon identifier="share-svg" />
                        <span class="ms-1"><f:count subject="{mashup.hosts}" /></span>
                    </span>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>

</html>