<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true"
>


<f:layout name="Module{layoutSufix}" />


<f:section name="title"><f:translate key="MashupAdmin_lblLoginTitle" /></f:section>


<f:section name="buttons">
</f:section>


<f:section name="messages">
    <f:flashMessages />
    <div class="typo3-messages" id="polling-stopped-message" style="display: none;">
        <div class="alert alert-danger">
            <div class="media d-flex">
                <div class="media-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-times fa-stack-1x"></i>
                    </span>
                </div>
                <div class="media-body flex-grow-1">
                    <p class="alert-message"><f:translate key="Common_lblLoginPollingStopped" /></p>
                </div>
                <div class="media-right">
                    <f:link.action action="login" class="btn btn-danger">
                        <core:icon identifier="user-svg" />
                        <span class="ms-1"><f:translate key="Common_btnRestart" /></span>
                    </f:link.action>
                </div>
            </div>
        </div>
    </div>
</f:section>


<f:section name="content">

<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <f:if condition="{qr_code_image}">
            <f:then>
                <img class="qrcode" src="data:image/png;base64,{qr_code_image}" />
            </f:then>
            <f:else>
                <p>No image created</p>
            </f:else>
        </f:if>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12"></div>
</div>

<f:if condition="{login_id}">
<script>
var GpsnoseMashupLoginId = '{login_id}';
</script>
<f:be.pageRenderer includeRequireJsModules="{ 0:'TYPO3/CMS/Gpsnose/MashupLogin' }" />
</f:if>

</f:section>

</html>