<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="pre">

<script>
$(document).ready(function() {
	AddLangRes('Common_btnJoinCommunity', '<f:translate key="Common_btnJoinCommunity" />');
    AddLangRes('Common_btnLogin', '<f:translate key="Common_btnLogin" />');
    AddLangRes('Common_lblError', '<f:translate key="Common_lblError" />');
    AddLangRes('Common_lblLoadMore', '<f:translate key="Common_lblLoadMore" />');
    AddLangRes('Common_lblRequestInProgress', '<f:translate key="Common_lblRequestInProgress" />');
    AddLangRes('Common_lblScanToJoin', '<f:translate key="Common_lblScanToJoin" />');
    AddLangRes('Common_loginRequired', '<f:translate key="Common_loginRequired" />');
    AddLangRes('Nearby_lblNoTracks', '<f:translate key="Nearby_lblNoTracks" />');
    gn_data.Settings.LoginUrl = $('<textarea />').html("{f:uri.page(pageUid:'{settings.login.loginPid}')}").text();
    gn_data.Settings.NearbyTracksPageUrl = $('<textarea />').html("{f:uri.action(action:'pageNearbyTracks', controller:'Api', pluginName:'Pagenearbytracks', pageType:'{settings.ajax.pageNearbyTracks}', arguments:'{ communityTag : communityTag }')}").text();
});
</script>

</f:section>


<f:section name="main">

<!-- MAIN_BEG -->
<div class="ma-gpsnose" data-gn-version="1.0.10">

    <div id="ma-gpsnose-{record}" class="ma-gpsnose-nearby-tracks" data-bind="visible:true" style="display:none;">

        <div class="btn-group btn-group-xs ma-btn-group">
            <a class="btn btn-default btn-outline-secondary" data-external data-bind="html: Entity.DisplayName(), attr: { href: Entity.DetailUrl() }"></a>
            <a class="btn btn-primary" tabindex="0" data-bind="text: GetLangRes('Common_btnJoinCommunity', 'Join community'), attr: { 'data-popover-img': gn_data.Community.QrCodeJoinImage, 'data-popover-text': GetLangRes('Common_lblScanToJoin', 'To join the community, scan this QR code using your mobile GpsNose app please'), 'data-remove': ! gn_data.Community.QrCodeJoinImage }"></a>
        </div>

        <div data-bind="if: ! gn_data.User.LoginName">
            <div class="alert alert-info">
                <i class="glyphicon glyphicon-info-sign fas fa-info-circle"></i>
                <span data-bind="text: ' ' + GetLangRes('Common_loginRequired', 'Please login first.')"></span>
                <button type="button" class="btn btn-info btn-xs pull-right float-right" data-bind="click: function() { document.location.href = $data.GetLoginUrl(gn_data.Settings.LoginUrl); }">
                    <i class="glyphicon glyphicon-user fas fa-user"></i>
                    <span data-bind="text: ' ' + GetLangRes('Common_btnLogin', 'Login')"></span>
                </button>
            </div>
        </div>
        <div data-bind="if: gn_data.User.LoginName">
            <div class="grid" data-bind="PageableTracks.Items().length > 0">
                <div class="tracks" id="tracksContainer" data-bind="foreach: PageableTracks.Items()">
                    <!-- ko if: ($index() === 0) -->
                    <div class="grid-sizer col-lg-3 col-md-4 col-sm-6"></div>
                    <!-- /ko -->
                    <div class="grid-item col-lg-4 col-sm-6">
                        <div data-external data-bind="attr: { 'data-src': $data.DetailUrl() }">
                            <div class="outer">
                                <div class="media mb-2">
                                    <div class="media-left mr-2">
                                        <img class="media-object img-rounded media-height" data-bind="attr: { src: window.gn_data.Settings.ImagePath+'/EmptyTour' + $data.TrackType + '.png' }" onerror="ImageErrorHandler(this, window.gn_data.Settings.ImagePath+'/EmptyMap.png')" />
                                    </div>
                                    <div class="media-body">
                                        <div class="media-height">
                                            <h4 class="media-heading" data-bind="text: $data.Name"></h4>
                                            <p data-bind="text: $data.Description"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <ma-gpsnose-rating params="percent: $data.RatingAvgPercent, count: $data.RatingCount, imagePath: gn_data.Settings.ImagePath"></ma-gpsnose-rating>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 col-8" data-bind="text: GetDateStringFromTicks($data.CreationTicks)"></div>
                                    <div class="col-xs-4 col-4 text-right" data-bind="text: GetDistanceString($data)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" data-bind="visible: PageableTracks.Items().length == 0 && ! PageableTracks.ItemsRequestActive()">
                <i class="glyphicon glyphicon-info-sign fas fa-info-circle"></i>
                <span data-bind="text: ' ' + GetLangRes('Nearby_lblNoTracks', 'Currently there are no Tracks around')"></span>
            </div>

            <div class="text-center">

                <div class="btn btn-default btn-outline-secondary btn-lg" data-bind="click: function(){ PageableTracks.PageItems() }, visible: PageableTracks.HasMoreItems(), attr: { disabled: PageableTracks.ItemsRequestActive() }">
                    <div data-bind="visible: ! PageableTracks.ItemsRequestActive()">
                        <i class="glyphicon glyphicon-cloud-download fas fa-cloud-download-alt"></i>
                        <span data-bind="text: ' ' + GetLangRes('Common_lblLoadMore', 'more..')"></span>
                    </div>
                    <div data-bind="visible: PageableTracks.ItemsRequestActive()">
                        <i class="glyphicon glyphicon-repeat gly-spin fas fa-redo-alt"></i>
                        <span data-bind="text: ' ' + GetLangRes('Common_lblRequestInProgress', 'Loading')"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script>
var MA_GPSNOSE_IS_MASHUP = true;
$(document).ready(function() {
    if (! gn_data.User) gn_data.User = {};
    var vm = new NearbyViewModel(gn_data.Community, gn_data.User);
    vm.PageableTracks.ItemPageUrl = gn_data.Settings.NearbyTracksPageUrl;
    vm.PageableTracks.OnAddItems = function() {
        $('#ma-gpsnose-{record} .grid').imagesLoaded(function() {
            MasonryReload();
        });
    }

    ko.applyBindings(vm, $('#ma-gpsnose-{record}').get(0));

    if (gn_data.Tracks) {
        vm.PageableTracks.AddItems(gn_data.Tracks);
    } else if (gn_data.User.LoginName) {
        vm.PageableTracks.PageItems();
    }
});
</script>
<!-- MAIN_END -->

</f:section>


</html>