<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:nose="http://typo3.org/ns/SmartNoses/Gpsnose/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="pre">

<script>
$(document).ready(function() {
    AddLangRes('Comment_lblErrorTextRequired', '<f:translate key="Comment_lblErrorTextRequired" />');
    AddLangRes('Comment_lblErrorCannotSave', '<f:translate key="Comment_lblErrorCannotSave" />');
    AddLangRes('Common_btnClose', '<f:translate key="Common_btnClose" />');
    AddLangRes('Common_btnDelete', '<f:translate key="Common_btnDelete" />');
    AddLangRes('Common_btnEdit', '<f:translate key="Common_btnEdit" />');
    AddLangRes('Common_btnJoinCommunity', '<f:translate key="Common_btnJoinCommunity" />');
    AddLangRes('Common_btnLogin', '<f:translate key="Common_btnLogin" />');
    AddLangRes('Common_btnOk', '<f:translate key="Common_btnOk" />');
    AddLangRes('Common_btnSend', '<f:translate key="Common_btnSend" />');
    AddLangRes('Common_btnShowProfile', '<f:translate key="Common_btnShowProfile" />');
    AddLangRes('Common_lblCommentAddHint', '<f:translate key="Common_lblCommentAddHint" />');
    AddLangRes('Common_lblCommentEdit', '<f:translate key="Common_lblCommentEdit" />');
    AddLangRes('Common_lblCommentEditHint', '<f:translate key="Common_lblCommentEditHint" />');
    AddLangRes('Common_lblComments', '<f:translate key="Common_lblComments" />');
    AddLangRes('Common_lblError', '<f:translate key="Common_lblError" />');
    AddLangRes('Common_lblLoadMore', '<f:translate key="Common_lblLoadMore" />');
    AddLangRes('Common_lblNoCommentsAvailable', '<f:translate key="Common_lblNoCommentsAvailable" />');
    AddLangRes('Common_lblRequestInProgress', '<f:translate key="Common_lblRequestInProgress" />');
    AddLangRes('Common_lblScanToJoin', '<f:translate key="Common_lblScanToJoin" />');
    AddLangRes('Community_loginRequired', '<f:translate key="Community_loginRequired" />');
    gn_data.Settings.CommentPageUrl = $('<textarea />').html("{f:uri.action(action:'pageComments', controller:'Api', pluginName:'Pagecomments', pageType:'{settings.ajax.pageComments}', arguments:'{ communityTag : communityTag }')}").text();
    gn_data.Settings.CommentSaveUrl = $('<textarea />').html("{f:uri.action(action:'commentSave', controller:'Api', pluginName:'Commentsave', pageType:'{settings.ajax.commentSave}', arguments:'{ communityTag : communityTag }')}").text();
    gn_data.Settings.LoginUrl = $('<textarea />').html("{f:uri.page(pageUid:'{settings.login.loginPid}')}").text();
});
</script>

</f:section>


<f:section name="main">

<!-- MAIN_BEG -->
<div class="ma-gpsnose" data-gn-version="1.0.14">

    <div id="ma-gpsnose-{record}" class="ma-gpsnose-comment" data-bind="visible:true" style="display:none;">

        <div class="btn-group btn-group-xs ma-btn-group">
            <a class="btn btn-default btn-outline-secondary" data-external data-bind="html: Entity.DisplayName(), attr: { href: Entity.DetailUrl() }"></a>
            <a class="btn btn-primary" tabindex="0" data-bind="text: GetLangRes('Common_btnJoinCommunity', 'Join community'), attr: { 'data-popover-img': gn_data.Community.QrCodeJoinImage, 'data-popover-text': GetLangRes('Common_lblScanToJoin', 'To join the community, scan this QR code using your mobile GpsNose app please'), 'data-remove': ! gn_data.Community.QrCodeJoinImage }"></a>
        </div>

        <ma-gpsnose-comments params="uniqueKey: gn_data.Community.TagName,
                    entity: vm ? vm.Entity : {},
                    imagePath: gn_data.Settings.ImagePath,
                    hideTitle: true,
                    commentPageUrl: gn_data.Settings.CommentPageUrl,
                    commentSaveUrl: gn_data.Settings.CommentSaveUrl,
                    loginUrl: gn_data.Settings.LoginUrl,
                    comments: gn_data.Community.Comments,
                    loginName: gn_data.User.LoginName,
                    isActivated: gn_data.User.IsActivated,
                    onChangeComments: ma_gpsnose_change"></ma-gpsnose-comments>

        <ma-gpsnose-dialog></ma-gpsnose-dialog>

    </div>

</div>

<script type="text/javascript">
var MA_GPSNOSE_IS_MASHUP = true;
var vm;
$(document).ready(function() {
    if (! gn_data.User) gn_data.User = {};
    vm = new CommunityDetailViewModel(gn_data.Community, gn_data.User);
    ko.applyBindings(vm, $('#ma-gpsnose-{record}').get(0));
});
function ma_gpsnose_change(container) {
    $(container).imagesLoaded(function() {
        setTimeout(function() { MasonryReload(); }, 250);
    });
}
</script>
<!-- MAIN_END -->

</f:section>


</html>