<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" media="all">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/webcodecamjs/2.7.0/qrcodelib.js"></script>
        <script src="/Mashup/Language/en.js"></script>
        <link rel="stylesheet" type="text/css" href="/Mashup/Css/style.min.css" media="all">
    </head>
    <body>
        <div class="container">
        <!-- MAIN_BEG -->
        <!-- MAIN_END -->
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/bignumber-rev4/js/bignumber.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/moment/2.24.0/moment.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/Numeral-js/2.0.6/numeral.min.js"></script>
        <script src="/Mashup/Libs/imagesloaded/4.1.4/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/masonry/4.2.2/masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/knockout/3.5.1/knockout.js" type="text/javascript"></script>
        <script src="/Mashup/Libs/webcodecamjs/2.7.0/webcodecamjquery.js"></script>
        <script type="text/javascript">
            // The server has to generate gn_data with the needed data TODO: Help?
            var gn_data = {};
        </script>
        <script src="/Mashup/Js/maframework.min.js" type="text/javascript"></script>
        <script src="/Mashup/Js/gpsnose.knockout.js" type="text/javascript"></script>
    </body>
</html>
