<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <f:be.pageRenderer
        includeCssFiles="{ 0: '{f:uri.resource(path: \'Css/backend-style.css\')}' }"
    />

    <be:moduleLayout.button.shortcutButton displayName="{f:translate(key: 'MashupAdmin_lblTitle')}" />

    <div class="typo3-fullDoc">
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="center-xs"><f:render section="title" /></h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="center-xs">
                            <div class="btn-group buttons">
                                <f:render section="buttons" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="beuser-main-content">
        <f:render section="messages" />
        <f:render section="content" />
    </div>

</be:moduleLayout>

</html>