# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = GpsNose Documentation
version     = 2.0
release     = 2.0.5
t3author    = smart.nose
copyright   = since 2019 by SmartNoses (https://www.gpsnose.com)

description = Manual covering TYPO3 extension gpsnose - GpsNose connects anonymous people to the real world using the web and mobiles


[notify]

about_new_builds = no


[html_theme_options]

# for theme t3SphinxThemeRtd

# to get the "Edit me on Github Button"
github_branch        = master
github_commit_hash   =
github_repository    = realsmartnose/gpsnose-typo3-ext
github_revision_msg  =
github_sphinx_locale =

# Fill in values to get links in the "Related Links" section
project_contact      = mailto:dev@gpsnose.com
project_discussions  =
project_home         = https://github.com/realsmartnose/gpsnose-typo3-ext
project_issues       = https://github.com/realsmartnose/gpsnose-typo3-ext/issues
project_repository   = https://github.com/realsmartnose/gpsnose-typo3-ext.git

# leave this empty
use_opensearch       =


[intersphinx_mapping]

; Comment out what you don't use.
; Uncomment only what you actually use in crossreferencing!

# t3api         = https://typo3.org/api/typo3cms/
# t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
# t3coreapi     = https://docs.typo3.org/typo3cms/CoreApiReference/
# t3editors     = https://docs.typo3.org/typo3cms/EditorsTutorial/
# t3extbasebook = https://docs.typo3.org/typo3cms/ExtbaseFluidBook/
# t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
# t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
# t3install     = https://docs.typo3.org/typo3cms/InstallationGuide/
# t3l10n        = https://docs.typo3.org/typo3cms/FrontendLocalizationGuide/
# t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
# t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
# t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
# t3start       = https://docs.typo3.org/typo3cms/GettingStartedTutorial/
# t3tca         = https://docs.typo3.org/typo3cms/TCAReference/
# t3templating  = https://docs.typo3.org/typo3cms/TemplatingTutorial/
# t3ts45        = https://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial/
# t3tsconfig    = https://docs.typo3.org/typo3cms/TSconfigReference/
# t3tsref       = https://docs.typo3.org/typo3cms/TyposcriptReference/
# t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/


[extensions]

# ; Add to list of extensions[] as defined in 'conf.py'.
# ; Mention the extensions you need. Some are loaded automatically
# ; and don't need to be mentioned. Examples:
#

# This is required for embedding YouTube videos

any_name_youtube = sphinxcontrib.youtube
